node_modules/
.expo/
dist/
build/
coverage/
web-build/
yarn.lock
package-lock.json
yarn-error.log
yarn-debug.log*
npm-debug.log*
npm-debug.*
yarn-debug.*
yarn-error.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# ignore .env
.env
# macOS
.DS_Store
